<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/45f0cb2786.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

    <body>
        <header>

          <div class="top-header-container">
              <div  class="logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Mercado Liebre">
              </div>
              <form class="search-bar" action="/" method="get" class="input-container">
                <div class="input-wrapper">
                    <input type="search" id="search-bar" name="search" placeholder="Buscar productos, marcas...">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
              <div class="cta">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
              </div>
          </div>
          
          
          <div class="down-header-container">
              <nav>
                    <ul class="nav-bar">
                      <li><a href="#">Ofertas</a></li>
                      <li><a href="#">Tiendas Oficiales</a></li>
                      <li><a href="#">Vender</a></li>
                      <li><a href="#">Ayuda</a></li>
                    </ul>
                  
                    <ul class="login-bar">
                      <li><a class="link" href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a></li>
                      <li><a class="link" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                      <li><a class="link" href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                  <div class="burger-menu-container">
                    <div class="burger-menu">
                      <i class="fas fa-bars"></i>
                    </div>
                  <div>
                </nav>
          </div>

          </header>          

          <img id="ad-banner" src="/img/img-home-banner.jpg" alt="Banner de anuncio">

          <main>

            <h2 class="titulares">Basado en tu última visita</h2>
            <section class="contenedor-articulos">
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$6.770</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>40% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>Cafetera Moulinex</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$230.000</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>20% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>MacBook Pro 2019</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$70.500</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>10% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>Samsung Galaxy S10</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$23.200</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>5% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>SmartTv Samsung 43"</h4>
                </div>
              </article>
            </section>


            <h2 class="titulares">Ofertas</h2>
            <section class="contenedor-articulos">
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$6.770</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>40% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>Cafetera Moulinex</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$230.000</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>20% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>MacBook Pro 2019</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$70.500</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>10% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>Samsung Galaxy S10</h4>
                </div>
              </article>
            
              <article class="articulo-contenedor">
                <img class="product-img" src="/img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div class="product-info">
                  <p class="ícono-camión"><i class="fa-solid fa-truck"></i></p>
                  <div class="precio">
                    <h3>$23.200</h3>
                  </div>
                  <div class="porcentaje-descuento">
                    <p>5% OFF</p>
                  </div>
                </div>
                <div class="descripcion">
                  <h4>SmartTv Samsung 43"</h4>
                </div>
              </article>
            </section>
              
          </main>
          

          <footer>
            
            <section class="footer-container">
                    <div class="footer-icon">
                      <i class="fa-solid fa-credit-card"></i>
                      <h3>Pagá con tarjeta o en efectivo</h3>
                      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>
                    <div class="footer-icon">
                      <i class="fa-solid fa-gift"></i>
                      <h3>Envío gratis desde $2.500</h3>
                      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>
                    <div class="footer-icon">
                      <i class="fa-solid fa-user-shield"></i>
                      <h3>Seguridad, de principio a fin</h3>
                      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                    </div>
                  </section>
                  <p id="copy">&copy; 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>

    </body>

</html>