<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
    
    <header class="main-header">
        <div class="main-header-top-bar">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
            <div class="input">
                <input type="text" name="buscador" id="buscador" placeholder="Buscar productos"> 
                <i class="fa fa-search lupa"></i>
            </div>
            <p class="copy-header"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="guardar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <main>
        <form class="register" action="/" method="GET">
            <div class="cajas-texto">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" >
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
                <input type="text" name="email" id="email" placeholder="E-mail">
            </div>
            <h3>Fecha de nacimiento</h3>
            <div class="caja-agregados">
                <input type="date" name="fecha-nacimiento" id="fecha-nacimiento" placeholder="dd/mm/aaaa">
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </div>
            <h3>Perfil de usuario</h3>
            <div class="buttons">
                <div class="button-opciones">
                    <input  type="radio" name="perfil" id="comprador" value="Comprador">
                    <label for="comprador">Comprador</label>
                </div>
                <div class="button-opciones">
                    <input  type="radio" name="perfil" id="vendedor" value="Vendedor">
                    <label for="vendedor">Vendedor</label>
                </div>
            </div>
            <h3>Intereses</h3>

            <div class="button-checkbox">
                <div class="button-intereses">
                    <input type="checkbox" name="interes" id="electro" value="Electro">
                    <label for="electro">Electro</label>
                </div>
                <div class="button-intereses">
                    <input type="checkbox" name="interes" id="moda" value="Moda">
                    <label for="moda">Moda</label>
                </div>
                <div class="button-intereses">
                    <input type="checkbox" name="interes" id="hogar" value="Hogar">
                    <label for="hogar">Hogar</label>
                </div>
                <div class="button-intereses">
                    <input type="checkbox" name="interes" id="jugueteria" value="Jugueteria">
                    <label for="jugueteria">Jugueteria</label>
                </div>
                <div class="button-intereses">
                    <input type="checkbox" name="interes" id="vida-sana" value="Vida Sana">
                    <label for="vida-sana">Vida Sana</label>
                </div>
            </div>

            <h3>Foto de Perfil</h3>
            <div class="usuario-file">
                <input type="file" name="img-user">
            </div>


            <div class="general">
                <div class="contras">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required="">
                    <input type="password" name="password-confirm" id="password-confirm" placeholder="Confirmar contraseña" required="">
                </div>
                <div class="botones-enviar-borrar">
                    <input class="button-form" type="submit" value="Enviar" href="/" >
                    <input class="boton-borrar" type="reset" value="Borrar">
                </div>
            </div>
        </form>
    </main>


    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
            
        </section>
        <section>
            <i class="fas fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        <div>
            <section>
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
            </section>
        </div>
    </footer>

</body>
</html>